<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access Gallery to Pick images.</string>
	<key>NSCameraUsageDescription</key>
	<string>Need Camera to Capture Image.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>yamigu</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao8f227ce17d6a3f4f4cee01b62114ac95</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>KAKAO_APP_KEY</key>
	<string>8f227ce17d6a3f4f4cee01b62114ac95</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao8f227ce17d6a3f4f4cee01b62114ac95</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>storylink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Entypo.ttf</string>
		<string>Fonts/EvilIcons.ttf</string>
		<string>Fonts/Feather.ttf</string>
		<string>Fonts/FontAwesome.ttf</string>
		<string>Fonts/FontAwesome5_Regular.ttf</string>
		<string>Fonts/FontAwesome5_Brands.ttf</string>
		<string>Fonts/FontAwesome5_Solid.ttf;
MaterialCommunityIcons.ttf;
MaterialIcons.ttf;
Octicons.ttf;
Roboto_medium.ttf;
Roboto.ttf;
rubicon-icon-font.ttf;
SimpleLineIcons.ttf;
Zocial.ttf;
Ionicons.ttf;
Foundation.ttf;
Fontisto.ttf</string>
		<string>Fonts/Fontisto.ttf</string>
		<string>Fonts/Foundation.ttf</string>
		<string>Fonts/Ionicons.ttf</string>
		<string>Fonts/MaterialCommunityIcons.ttf</string>
		<string>Fonts/MaterialIcons.ttf</string>
		<string>Fonts/Octicons.ttf</string>
		<string>Fonts/Roboto_medium.ttf</string>
		<string>Fonts/Roboto.ttf</string>
		<string>Fonts/rubicon-icon-font.ttf</string>
		<string>Fonts/SimpleLineIcons.ttf</string>
		<string>Fonts/Zocial.ttf</string>
		<string>Fonts/AntDesign.ttf</string>
		<string>Fonts/NotoSansCJKkr-Bold.otf</string>
		<string>NotoSansCJKkr-Bold 2.otf</string>
		<string>Fonts/NotoSansCJKkr-Black.otf</string>
		<string>Fonts/NotoSansCJKkr-DemiLight.otf</string>
		<string>Fonts/NotoSansCJKkr-Thin.otf</string>
		<string>Fonts/NotoSansCJKkr-Regular.otf</string>
		<string>Fonts/NotoSansCJKkr-Medium.otf</string>
		<string>Fonts/NotoSansCJKkr-Light.otf</string>
		<string>Fonts/NotoSansMonoCJKkr-Bold.otf</string>
		<string>Fonts/NotoSansMonoCJKkr-Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<array>
		<string></string>
	</array>
</dict>
</plist>
